<% if mentions.present? %>
  <div style='margin-top: 32px;'>
    <%= t('views.reports.mentioned_reports') %>
    <ul>
      <% mentions.each do |mention| %>
        <li>
          <a href='<%= mention.report.id %>'><%= mention.report.title %></a>
          <span style='font-size: 0.8rem; color: gray;'>
            <%= t('views.reports.mentioned_from') %> ( <%= t('datetime.ago', count: time_ago_in_words(mention.created_at)) %> )
          </span>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
