<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <nav>
    <% if user_signed_in? %>
      <%= t('devise.nav.logged_in_as', user: current_user.email) %>
      <%= link_to t('devise.nav.edit_profile'), edit_user_registration_path %> |
      <%= link_to t('devise.nav.log_out'), destroy_user_session_path, data: { turbo_method: :delete } %>
    <% else %>
      <%= link_to t('devise.nav.sign_up'), new_user_registration_path %> |
      <%= link_to t('devise.nav.log_in'), new_user_session_path %>
    <% end %>
  </nav>

  <body class="<%= params[:action] %>">
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
